.global-loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(186, 186, 186, 0.219);
  backdrop-filter: blur(2px);
}

.spinner-border {
  width: 28px;
  height: 28px;
  border-width: 3px;
}