<aside class="sidebar bg-white border-end d-flex flex-column">

    <nav class="sidebar-nav nav flex-column px-1 py-3 flex-grow-1">
        @for(item of canShowMenu(); track item.route){
        
        <a
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            class="sidebar-link nav-link d-flex align-items-center  rounded-3  mb-1">

            <i class="fs-6" [class]="item.icon"></i>
            <span> {{item.label}} </span>

        </a>

        }
    </nav>

    <div class="sidebar-footer border-top pt-3 pb-2 px-2 mb-2">

        <a
            routerLink="../employee/home"
            routerLinkActive="active"
            class="profile-card text-decoration-none rounded-3 d-flex align-items-center gap-3 py-1 px-2 mb-2 ">

            <div class="profile-image position-relative">
                <img
                    src="https://img.magnific.com/premium-photo/anime-male-portrait-with-hoodie_1410957-59738.jpg?semt=ais_hybrid&w=740&q=80"
                    alt="Profile"
                    class="rounded-circle">
                <span class="online-status"></span>
            </div>

            <div class="flex-grow-1">
                <h6 class="mb-1 fw-semibold text-dark">
                    {{user?.role?.name}}
                </h6>
                <small class="text-body-secondary text-nowrap">
                    {{user?.email }}
                </small>
            </div>
            
        </a>

        <button class="logout-btn btn btn-outline-danger w-100 rounded-3 d-flex align-items-center justify-content-center gap-2" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span> Logout </span>
        </button>

    </div>

</aside>