.admin-employee-page {
  max-height: 85vh;
  .card-header {
    position: sticky;
    top: 80px;
    z-index: 10;
  }

  .table-responsive {
    height: 100%;
    overflow-y: auto;
  }
  .table-responsive::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }

  table {
    margin-bottom: 0;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 5;
  }
}

th, td{
    padding: 10px 20px;
}

th{
  background: #e6f1ff;
}

.dull-icon{
    color: grey;
    cursor: not-allowed;
}

.pagination {
  gap: 6px;
}

.pagination .page-item .page-link {
  border-radius: 8px;
  border: 1px solid #dee2e6;
  color: #212529;
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.pagination .page-item.active .page-link {
  background-color: #e9e9e9;
  border-color: #9d9d9e;
  color: #fff;
}

.pagination .page-item:not(.active):not(.disabled) .page-link:hover {
  background-color: #f1f3f5;
}

.pagination .page-item.disabled .page-link {
  color: #adb5bd;
  background-color: #f8f9fa;
}

.badge{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #eaf2ff;
    color: #0d4fa3;
  font-size: 13px;
  font-weight: 600;
  position: relative;

  span{
    position: absolute;
    top: 94%;
    left: 94%;
    transform: translate(-50%, -50%);
    background: #20b958;
    border: 2px solid white;
  }
}

.role-badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
}

.role-admin {
  background: #ede9fe;
  color: #6d28d9;
}

.role-hr {
  background: #e0f2fe;
  color: #0369a1;
}

.role-super-admin {
  background: #ede9fe;
  color: #6d28d9;
}

.role-employee {
  background: #eaf2ff;
    color: #0d4fa3;
}

.role-default {
  background: #f3f4f6;
  color: #4b5563;
}

.else-card{
  height: 65vh;
}

.search-boxes{
  transition: 0.3s ease;
  opacity: 0;
  transform: translateX(-30px);
  visibility: hidden;
}
.search-boxes.show-search-boxes {
  display: flex !important;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
input{
  width: 180px;
}

button{
  font-size: 13px;
}


:host ::ng-deep {

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background: white !important;
        border: 1px solid #ccc;
    }

    div.mat-mdc-select-panel {
        max-height: fit-content !important;
        background-color: white ;
        padding: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined{
        height: 35px;
    }
    
    .mdc-text-field--outlined .mat-mdc-form-field-infix{
        padding-bottom: 0;
        padding-top: 6px;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 15px;
    }

  .mat-mdc-select-panel {
    overflow-y: auto;

    /* Scrollbar width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Thumb */
    &::-webkit-scrollbar-thumb {
      background: #103b6f;
      border-radius: 5px;
    }

    /* Thumb hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #103b6f;
    }
  }

  .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
  }

    //hovering

    .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
        background: rgb(239, 245, 255);
    }
    
    .mat-mdc-option.mdc-list-item{
        border-bottom: 0.5px dashed #d1d0d0;
        &:hover{
            background: rgb(239, 244, 255);
        }
    }


    //left-right padding

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label{
        padding: 0 12px;
    }

    //fontsize

    .mat-mdc-select-min-line, .mat-mdc-option .mdc-list-item__primary-text{
        font-size: 14px !important;
    }
    
    .mat-mdc-option{
        min-height: 40px;
        padding: 0 10px;
    }
    
}