<div class="admin-employee-page">
  <div class="container py-4">
    <!-- Heading -->

    <h3 class="fw-semibold text-primary-emphasis mb-4">Employee List</h3>

    <!-- Toolbar -->

    <div class="card border-0 shadow-sm rounded-3 mb-4">
      <div class="card-body">
        <div class="row g-3 align-items-center">
          <div class="col-lg-5 col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Search by Employee Name or ID"
              [(ngModel)]="searchText"
            />
          </div>

          <div class="col-lg-7 col-md-6 text-md-end">
            <button class="btn btn-primary"
            (click)="openAddEmployeeDialog()">
              <i class="fa-solid fa-plus"></i>
              Add Employee
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Employee Table -->

    <div class="card border-0 shadow-sm rounded-4">
      <div class="table-responsive rounded-4">
        <table class="table table-bordered align-middle mb-0">
          <thead class="table-light">
            <tr >
              <th>Employee ID</th>

              <th>Name</th>

              <th>Department</th>

              <th>Designation</th>

              <th class="text-center">Status</th>

              <th class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody>

            @for (employee of filteredEmployees(); track employee.id) {
              <tr>
                <td> {{employee.employeeCode}} </td>

                <td> {{employee.firstName}} {{employee.lastName}} 
                  @if(employee.attendances?.[0]?.status)  {
                    <span class="bg-success rounded-circle d-inline-block ms-2" style="width: 8px; height: 8px;"></span>
                  }
                </td>

                <td> {{employee.department?.name}} </td>

                <td> {{employee.designation?.title | titlecase }} </td>

                <td class="text-center">
                  @if(employee.status=='ACTIVE'){
                    <span class="badge  px-3 py-2 rounded-pill bg-success-subtle text-success"> {{employee.status}} </span>
                  }
                  @if(employee.status=='INACTIVE'){
                    <span class="badge  px-3 py-2 rounded-pill bg-warning-subtle text-warning"> {{employee.status}} </span>
                  }
                  @if(employee.status=='ON_LEAVE'){
                    <span class="badge  px-3 py-2 rounded-pill bg-primary-subtle text-primary-emphasis"> {{employee.status}} </span>
                  }
                  @if(employee.status=='TERMINATED'){
                    <span class="badge  px-3 py-2 rounded-pill bg-danger-subtle text-danger"> {{employee.status}} </span>
                  }
                </td>

                <td>
                  <div class="d-flex justify-content-center gap-3 ">
                    <i class="fa-solid fa-eye text-primary-emphasis" (click)="openEmployeeDetailDialog(employee)"></i>

                    @if (employee.status !=='TERMINATED') {
                    <i class="fa-solid fa-pen-to-square text-warning "  (click)="openEditEmployeeDialog(employee)"></i>
                    <i class="fa-solid fa-trash-can text-danger" (click)="openDeleteEmployeDialog(employee.id)"></i>
                    }

                    @if(employee.status =='TERMINATED'){

                    <i class="fa-solid fa-pen-to-square dull-icon " ></i>

                    <i class="fa-solid fa-trash-can dull-icon" ></i>

                    }
                  </div>
                </td>
              </tr>
            }


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
