.table-responsive{
    max-height: 275px;
    overflow-y: auto;
}

.table-responsive::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

thead{
    position: sticky;
    top: 0;
    z-index: 5;
}

.green-bg{
    background: rgb(24, 68, 43);
}


    th{
        padding-left: 12px;
        color: #111;
        font-weight: 500;
        font-size: 14px;
        background: #e6f1ff;
    }
    td{
        padding-left: 12px;
    }

.card-body{
    height: 75vh;
    background: white;
    overflow-y: hidden;
}

.card-height{
    height: 58vh;
}
.dashboard-card{
    border-left: 4px solid rgb(29, 76, 147) !important;

    &.green-card{
        border-left: 4px solid rgb(13, 126, 51) !important;
    }

    &.red-card{
        border-left: 4px solid rgb(221, 59, 23) !important;
    }

    &.yellow-card{
        border-left: 4px solid #664d03 !important;
    }
}




:host ::ng-deep {

    .mat-mdc-form-field{
        background: #fff !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background: white;
        border: 1px solid #ccc;
    }

    div.mat-mdc-select-panel {
        max-height: 405px !important;
        background-color: white ;
        padding: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined{
        height: 40px;
    }
    
    .mdc-text-field--outlined .mat-mdc-form-field-infix{
        padding-bottom: 0;
        padding-top: 8px;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 18px;
    }

  .mat-mdc-select-panel {
    overflow-y: auto;

    /* Scrollbar width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Thumb */
    &::-webkit-scrollbar-thumb {
      background: #103b6f;
      border-radius: 5px;
    }

    /* Thumb hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #103b6f;
    }
  }

  .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above{
    display: none !important;
  }

    //hovering

    .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
        background: rgb(239, 245, 255);
    }
    
    .mat-mdc-option.mdc-list-item{
        border-bottom: 0.5px dashed #d1d0d0;
        &:hover{
            background: rgb(239, 244, 255);
        }
    }

        
    .mat-mdc-option{
        min-height: 42px;
        padding: 0 10px;
    }

    
}