.avatar {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #eaf2ff;
    color: #0d4fa3;
  font-size: 13px;
  font-weight: 600;
}

th, td{
    padding: 10px 20px;
}