.admin-department-page {
  min-height: 100vh;



  .card-header {
    padding: 12px;
    
    h5{
      font-size: 17px;
    }
  }

  .input-group {
    .form-control {
      border-right: 0;
    }
  }

  .list-group-item {
    padding: 14px 20px;
    transition: 0.25s;

    div{
      gap: 10px;
    }
  }

  .btn-light {
    width: 34px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #e9ecef;

    &:hover {
      background: #eef5ff;
    }
  }
}