<div class="admin-home-page">
  <div class="container py-4 px-3">

    <!-- Overview Cards -->

    <div class="row g-4 mb-4">
      <div class="col-xl-3 col-md-6">
        <div class="card border-0 shadow-sm h-100 p-3 dashboard-card" routerLink="/admin/employee">
          <div class="d-flex justify-content-between align-items-start h-100">
            <div>
              <h6 class="text-secondary mb-2">Total Employees</h6>

              <h3 class="fw-semibold text-dark mb-1">
                {{ (employees | async)?.length }}
              </h3>

              <small class="text-muted">  </small>
            </div>

            <div class="bg-primary-subtle text-primary-emphasis rounded-3 p-3 align-self-end">
              <i class="fa-solid fa-users fs-6"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div
          class="card border-0 shadow-sm h-100 p-3 dashboard-card"
          routerLink="/admin/department"
        >
          <div class="d-flex justify-content-between align-items-start h-100">
            <div>
              <h6 class="text-secondary mb-2">Total Departments</h6>

              <h3 class="fw-semibold text-dark mb-1">
                {{ (departments | async)?.length }}
              </h3>
            </div>

            <div class="bg-primary-subtle text-primary-emphasis fw-light rounded-3 p-3 align-self-end">
              <i class="fa-solid fa-building fs-6"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card border-0 shadow-sm h-100 p-3 dashboard-card" routerLink="/admin/leaves">
          <div class="d-flex justify-content-between align-items-start h-100">
            <div>
              <p class="text-secondary mb-2">Pending Leaves</p>

              <h3 class="fw-semibold text-dark mb-1">
                {{ (leaves | async)?.length }}
              </h3>
            </div>

            <div class="bg-primary-subtle text-primary-emphasis fw-light rounded-3 p-3 align-self-end">
              <i class="fa-solid fa-calendar-days fs-6"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div
          class="card border-0 shadow-sm h-100 p-3 dashboard-card"
          routerLink="/admin/attendance"
        >
          <div class="d-flex justify-content-between align-items-start h-100">
            <div>
              <p class="text-secondary mb-2">Present Today</p>

              <h3 class="fw-semibold text-dark mb-1">
                {{ (dashboard | async)?.presentToday }}
              </h3>

            </div>

            <div class="bg-primary-subtle text-primary-emphasis fw-light  rounded-3 p-3 align-self-end">
              <i class="fa-solid fa-user-check fs-6"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Activity -->

    <div class=" card-header border rounded-3 rounded-bottom-0 py-3 px-4 bg-blue mt-5">
      <p class="fs-17 fw-semibold mb-1">Recent Activity</p>

      <small class="mb-0">Latest updates from your organization.</small>
    </div>

    <div class="card border-0 shadow-sm rounded-3 rounded-top-0">
      <div class="list-group list-group-flush">

        @for (re of (dashboard | async)?.recentEmployees; track re.id) {
          <div class="list-group-item px-3 py-3">
            <div class="d-flex align-items-center">
              <div class="bg-primary-subtle text-primary-emphasis rounded-circle circle-35">
                <i class="fa-solid fa-user-plus"></i>
              </div>

              <div class="ms-3 flex-grow-1">
                <h6 class="mb-1 text-dark">{{ re.name }} joined the team</h6>

                <small class="text-muted">
                  Joined as {{ re.designation }} in {{ re.department }} Department
                </small>
              </div>

              <small class="text-muted"> {{re.dateOfJoin | date:'dd MMM'}} </small>
            </div>
          </div>
        }

        @for (rl of (dashboard | async)?.recentLeave; track rl.id) {
          <div class="list-group-item px-3 py-3">
            <div class="d-flex align-items-center">
              <div class="bg-warning-subtle text-warning-emphasis rounded-circle circle-35">
                <i class="fa-solid fa-calendar-minus"></i>
              </div>

              <div class="ms-3 flex-grow-1">
                <h6 class="mb-1 text-dark">Leave request from {{ rl.employeeName }}</h6>

                <small class="text-muted"> Reason: {{ rl.reason }} </small>
              </div>

              <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill px-3 py-2">
                {{ rl.status }}
              </span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
