.admin-home-page{
    background: #f8f9fa;
    max-height: 100vh;
    overflow-y: hidden;
}

.dashboard-card {
    cursor: pointer;
    transition: 0.2s ease;
    height: 120px;
}

.dashboard-card:hover {
    transform: translateY(-3px);
}
