.admin-home-page{
    background: #fffefe;
    height: 100vh;
}

.col-lg-3 .card{
    border: 0;
    border-left: 3px solid #052c65;
    background: linear-gradient(135deg, #ffffff89, #fbfdff);
    cursor: pointer;
}

.list-group-item{

    padding: 13px 18px;

    h5{
        font-size: 17px;
    }

}
