.admin-roles-page {
  min-height: 88vh;
  overflow-y: hidden;

  .card {
    border: 1px solid #edf1f7;
  }

  .avatar {
    width: 48px;
    height: 48px;
    font-size: 1rem;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .list-group-item {
    padding: 18px 22px;

    transition: 0.25s;

    &:hover {
      background: #f8fbff;
    }
  }
}

.form-control{
    padding: 0.75rem 1rem;
    border: 1px solid #b3b6ba;
    border-radius: 5px;
    box-shadow: none;
}

.parent-card{
  height: 80vh;
}

:host ::ng-deep {

    .mat-mdc-select-panel-above div.mat-mdc-select-panel,  div.mat-mdc-select-panel{
        background: white;
    }
    
    .mat-mdc-form-field-subscript-wrapper{
      display: none;
    }
    
}