
<div class=" delete p-4 d-flex align-items-center flex-column">
    <span class="bg-primary-subtle text-primary-emphasis p-3 rounded-circle flex-shrink-0 d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-trash-can display-3"></i>
    </span>

    <h4 class="text-primary-emphasis mt-3 text-center">Are you sure you want to delete this employee</h4>
    <p class="fs-6 text-dark-emphasis mt-2">You will no Longer see this Employee Details</p>

    <div class="buttons d-flex gap-3 align-self-end mt-4">
        <button class="btn btn-outline-dark" (click)="closeDialog()">Cancel</button>
        <button class="btn btn-primary " (click)="deleteEmployee()">Delete</button>
    </div>
</div>
