

.time-selctor{
    width: 100%;
    flex-shrink: shrink;
    flex-wrap: nowrap;
}


:host ::ng-deep {

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background: white;
        border: 1px solid #ccc;
    }

    div.mat-mdc-select-panel {
        max-height: fit-content !important;
        background-color: white ;
        padding: 0;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined{
        height: 35px;
    }
    
    .mdc-text-field--outlined .mat-mdc-form-field-infix{
        padding-bottom: 0;
        padding-top: 6px;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 15px;
    }

  .mat-mdc-select-panel {
    overflow-y: auto;

    /* Scrollbar width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Thumb */
    &::-webkit-scrollbar-thumb {
      background: #103b6f;
      border-radius: 5px;
    }

    /* Thumb hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #103b6f;
    }
  }

  .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
  }

    //hovering

    .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
        background: rgb(239, 245, 255);
    }
    
    .mat-mdc-option.mdc-list-item{
        border-bottom: 0.5px dashed #d1d0d0;
        &:hover{
            background: rgb(239, 244, 255);
        }
    }


    //left-right padding

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label{
        padding: 0 12px;
    }

    //fontsize

    .mat-mdc-select-min-line, .mat-mdc-option .mdc-list-item__primary-text{
        font-size: 14px !important;
    }
    
    .mat-mdc-option{
        min-height: 40px;
        padding: 0 10px;
    }
    
}