<div class="attendance ">
    <div class="conatiner p-3 py-2">

        <div class="card border-0 p-4 shadow-sm rounded-4 mb-4 mt-3 bg-light border border-light">

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-0">Monthly Attendance Report</h5>
                    <small class="text-muted m-0">Comprehensive monthly attendance tracking and analysis</small>
                </div>

                <mat-form-field appearance="outline" style="width: 300px;">
                    <mat-label>Select Employee</mat-label>
                    <mat-select (selectionChange)="onEmployeeChange($event.value)">
                        @for (employee of employees| async; track employee.id) {
                            <mat-option [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <div class=" d-flex align-items-center justify-content-center gap-3">

                    <app-month-year-compo></app-month-year-compo>
                        
                        <button class=" btn btn-light rounded-end-3 border circle-35"
                        (click)="downloadFile()">
                            <i class="fa-solid fa-download text-muted fs-6"></i>
                        </button>
                </div>                
            </div>

            <div class="filter-box justify-content-between align-items-end mt-4"
            [class.filter-box-open]="toggleFilterBoxValue()"
            [class.d-none]="!toggleFilterBoxValue()">



                <div>
                    <button class="btn btn-outline-primary py-2" (click)="downloadFile()"> <i class="fa-solid fa-download me-2"></i> Export Attendance Report</button>
                </div>
            </div>

        </div>

        <div class="">
            <div class="card-body rounded-4 shadow-sm ">
                @if (employeeAttendance | async; as AttendanceList) {
                    @if (AttendanceList.length>0) {
                    <div class=" table-responsive rounded-3 shadow-sm table-container">
                    <table class="table table-bordered align-middle mb-0">

                        <thead class="table-light">
                        <tr>
                            <th>Employee</th>
                            <th>Designation</th>
                            <th>Date</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>Working Duration</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>

                            @for (attendance of employeeAttendance | async; track $index) {

                                <tr>
                                    <td> {{attendance.employee.firstName}} {{attendance.employee.lastName}} </td>
                                    <td> {{attendance.employee.designation?.title | titlecase}} </td>
                                    <td> {{attendance.date | date:'EEE, dd MMM'}} </td>
                                    <td> {{attendance.checkIn| date:'hh:mm a'}} </td>
                                    <td> {{attendance.checkOut| date:'hh:mm a'}} </td>
                                    <td> 
                                        {{ (attendance.workingDuration * 60 * 1000) | date:'H':'UTC' }}h 
                                        {{ (attendance.workingDuration * 60 * 1000) | date:'mm':'UTC' }}min
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill status-present bg-success-subtle text-success-emphasis px-3 py-2 shadow-sm">
                                            <span class="rounded-circle d-inline-block green-bg me-2" style="width: 5px; height: 5px;"></span>Present
                                        </span>
                                    </td>
                                </tr>

                            }

                        </tbody>

                    </table>
                    </div>
                    }
                    @else {
                        <div class="d-flex flex-column justify-content-center align-items-center text-center py-5 px-3 h-100">

                            <div class="d-flex justify-content-center align-items-center rounded-circle bg-sky-blue text-primary-emphasis mb-3"
                                style="width: 64px; height: 64px;" >
                                <i class="fa-solid fa-exclamation fs-3"></i>
                            </div>
                            <h4 class="fw-semibold text-dark mb-2"> Data is Not Avaialbale  </h4>
                            <p class="text-secondary mb-0">Choose an different employee from the dropdown above or filters<br> to view their attendance records.</p>

                        </div>
                    }
                }
                @else {
                    <div class="d-flex flex-column justify-content-center align-items-center text-center py-5 px-3 h-100">

                        <div class="d-flex justify-content-center align-items-center rounded-circle bg-sky-blue text-primary-emphasis mb-3"
                            style="width: 64px; height: 64px;" >
                            <i class="fa-solid fa-user-check fs-4"></i>
                        </div>
                        <h4 class="fw-semibold text-dark mb-2"> Select an Employee </h4>
                        <p class="text-secondary mb-0">Choose an employee from the dropdown above<br> to view their attendance records.</p>

                    </div>
                }
            </div>
        </div>
    </div>
</div>